.contact {
  text-align: center;
  max-width: 500px;
  margin: 60px auto;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  position: relative;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  font-size: 1.1em;
}

input:focus, textarea:focus {
  border-color: #007bff;
}

small {
  color: red;
  position: absolute;
  bottom: -20px;
  left: 0;
}

button {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
}

button[disabled] {
  cursor: not-allowed;
}

.snackbar {
  visibility: visible;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  animation: fadeIn 0.5s ease-in-out, fadeOut 0.5s 2.5s ease-in-out;
}

@keyframes fadeIn {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadeOut {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

/* Media Queries pour Responsiveness */
@media (max-width: 768px) {
  .contact {
    padding: 20px;
    margin: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-group {
    width: 100%;
  }

  label {
    font-size: 1em;
  }

  input, textarea {
    font-size: 1em;
  }

  button {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .contact {
    max-width: 100%;
    margin: 20px;
    padding: 20px;
  }
}
