
img {
  height: 40px;
  width: 40px;
  margin: 5px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column; /* Réorganise les éléments verticalement */
    text-align: center; /* Centre le texte */
  }

  .footer p {
    margin-bottom: 10px; /* Ajoute un espacement sous le texte */
    white-space: normal; /* Permet au texte de revenir à la ligne */
  }

  .social-media {
    justify-content: center; /* Centre les icônes de réseaux sociaux */
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 20px; /* Ajoute un espace suffisant pour les très petits écrans */
  }

  img {
    height: 25px;
    width: 25px; /* Redimensionne les icônes pour les petits écrans */
  }
}

