.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  color: black;
  font-family: 'Lato', sans-serif;
  border-top: 1px solid #ddd;
  flex-wrap: wrap; 
}

.footer p {
  flex: 1; 
  white-space: nowrap; 
}

.social-media {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

img {
  height: 50px;
  width: 50px;
  margin: 10px 10px;
}
