
img {
  height: 40px;
  width: 40px;
  margin: 5px;
}

@media (min-width: 768px) {
  footer {
    justify-content: space-between; /* Répartit les éléments pour les écrans moyens et grands */
  }
  footer p {
    text-align: left; /* Aligne à gauche pour écrans plus larges */
    font-size: 1rem;
  }
  .social-media img {
    height: 40px; /* Augmente la taille des icônes sur écrans moyens et grands */
    width: 40px;
  }
}

@media (max-width: 480px) {
  footer {
    flex-direction: column; /* Empile les éléments sur petits écrans */
    padding: 15px 10px;
  }
  footer p {
    font-size: 0.8rem; /* Taille réduite pour optimiser l'espace */
    margin-bottom: 10px;
  }
  .social-media img {
    height: 25px; /* Taille réduite pour petits écrans */
    width: 25px;
  }
}