<footer class="footer">
  <p>&copy; 2025 Institut d'Intelligence Artificielle en Santé. Tous droits réservés.</p>
  <div class="social-media">
    <a href="https://facebook.com/" target="_blank">
      <img src="assets/images/facebook.png" alt="facebook">
    </a>
    <a href="https://instagram.com/" target="_blank">
      <img src="assets/images/instagram.png" alt="instagrame">
    </a>
    <a href="https://twitter.com/" target="_blank">
      <img src="assets/images/x.png" alt="x">
    </a>
  </div>
</footer>