.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

.logo-icon {
  width: 50px;   /* Taille de l'icône */
  height: 50px;  /* Taille de l'icône */
  margin-right: 10px;
  border-radius: 50%; /* Rendre l'icône ronde */
}

.nav-links {
  display: flex;
  list-style-type: none;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-family: 'Lato', sans-serif;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #007bff;
}

.nav-links .active {
  border-bottom: 2px solid #007bff;
}
