.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: black;
  border-bottom: 1px solid #ddd;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

.logo-icon {
  width: 60px;   
  height: 60px;  
  margin-right: 10px;
  border-radius: 50%; 
}

.nav-links {
  display: flex;
  list-style-type: none;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-family: 'Lato', sans-serif;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #FDC500;
}

.nav-links .active {
  border-bottom: 2px solid #FDC500;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  background-color: black;
  height: 2px;
  margin: 4px 0;
  width: 25px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .menu-toggle {
    display: flex;
  }
}
