<nav class="navbar">
  <div class="logo">
    <a routerLink="/">
      <img src="assets/images/sante-2025-icon.png" alt="Santé 2025" class="logo-icon">
      Santé 2025
    </a>
  </div>
  <ul class="nav-links">
    <li><a routerLink="/" routerLinkActive="active">Accueil</a></li>
    <li><a routerLink="/signin" routerLinkActive="active">S'inscrire</a></li>
    <li><a routerLink="/speakers" routerLinkActive="active">Speakers</a></li>
    <li><a routerLink="/about" routerLinkActive="active">A propos</a></li>
  </ul>
</nav>

  
  