.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: black;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

.logo-icon {
  width: 60px;   
  height: 60px;  
  margin-right: 10px;
  border-radius: 50%; 
}

.nav-links {
  display: flex;
  list-style-type: none;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-family: 'Lato', sans-serif;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #FDC500;
}

.nav-links .active {
  border-bottom: 2px solid #FDC500;
}
