<div class="home">
  <div class="home-container">
    <h1>Evènement de Santé 2025</h1>
    <div class="content-row">
      <div class="home-text">
        <p id="paragraphe">
          Découvrez comment l'intelligence artificielle transforme les soins de santé modernes. Apprenez des experts et explorez les innovations.
        </p>
        <p>
          Inscrivez-vous dès maintenant pour façonner l'avenir de la médecine !
        </p>
        <div class="cta-section">
          <div id="lottie-container"></div>
          <button routerLink="/signin">S'inscrire</button>
        </div>
      </div>
      <div class="home-image">
        <img alt="AI-health" class="AI-image" src="assets/images/sante-2025-icon-XL.png">
      </div>
    </div>
  </div>
</div>
