/* CSS Initial */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin: 30px 0; 
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  width: 100%;
}

.content-row {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}

.home-text {
  flex: 1;
  font-size: 1.2em;
  color: #333;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#paragraphe {
  margin-bottom: 20px;
}

.home-image {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AI-image {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.cta-section {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#lottie-container {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.highlight {
  color: #FDC500;
}

/* Styles Responsives */
@media (max-width: 768px) {
  .home h1 {
    font-size: 1.5rem; /* Réduire la taille du titre */
    text-align: center;
  }

  .content-row {
    flex-direction: column;
    align-items: center;
  }

  .home-image {
    order: 1;
    max-width: 200px;
    margin-bottom: 20px; /* Ajoute une marge en bas de l'image */
  }

  .home-text {
    order: 2;
    text-align: center;
    margin-bottom: 20px;
  }

  .cta-section {
    order: 3;
    flex-direction: row; /* Conserver l'alignement horizontal */
    align-items: center; /* Centrer verticalement */
    justify-content: center; /* Centrer horizontalement */
  }

  #lottie-container {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
}
