/* You can add global styles to this file, and also import other style files */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #333;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .footer {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    padding: 10px 20px; /* Ajoute de l'espace autour du contenu */
    min-height: 60px; /* Assure une hauteur minimale pour le footer */
    border-top: 1px solid #ddd; /* Bordure supérieure */
    background-color: #f8f9fa; /* Ajoute une couleur de fond pour tester */
  }
  
  
  footer p {
    flex: 1;
    white-space: nowrap;
    margin-left: 20px;
  }
  
  .social-media {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
  }
  
  .social-media img {
    height: 40px;
    width: 40px;
    margin: 5px;
  }
   
  h1 {
    font-size: 4em; /* Augmenter la taille du titre */
    color: #003366;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
  }
  h2 {
    color: #003F88;
  }
  h3 {
    color: #00509D;
  }
  
  a {
    text-decoration: none;
  }
  
  .active {
    font-weight: bold;
  }
  button {
    background-color: black;
    color: #FDC500;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }
  