/* You can add global styles to this file, and also import other style files */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #333;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  footer {
    display: flex;
    flex-wrap: wrap; /* Permet de gérer les débordements sur plusieurs lignes */
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: black;
    font-family: 'Lato', sans-serif;
    border-top: 1px solid #ddd;
    background-color: #f8f8f8; /* Couleur de fond pour plus de contraste */
    text-align: center;
  }
  
  footer p {
    flex: 1 1 auto; /* Prend de la place restante tout en permettant un retour à la ligne */
    margin: 5px 0;
    text-align: center; /* Centre le texte sur petits écrans */
    font-size: 0.9rem; /* Taille réduite pour petits écrans */
  }
  
  .social-media {
    display: flex;
    flex: 1 1 auto; /* Prend de la place restante */
    justify-content: center; /* Centre les icônes sur petits écrans */
    align-items: center;
    margin-top: 10px; /* Ajoute un espace pour éviter que les icônes touchent le texte */
  }
  
  .social-media a {
    display: inline-block;
  }
  
  .social-media img {
    height: 30px;
    width: 30px;
    margin: 0 10px; /* Espacement latéral entre les icônes */
    transition: transform 0.3s ease;
  }
  
  .social-media img:hover {
    transform: scale(1.2); /* Effet d'agrandissement au survol */
  }
  
  h1 {
    font-size: 4em; /* Augmenter la taille du titre */
    color: #003366;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
  }
  h2 {
    color: #003F88;
  }
  h3 {
    color: #00509D;
  }
  
  a {
    text-decoration: none;
  }
  
  .active {
    font-weight: bold;
  }
  button {
    background-color: black;
    color: #FDC500;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }
  